= link_to image_tag('pencil.png'), "#comment-#{comment.id}" 
= author_link(comment)
&nbsp;
%small.author 
  &= comment.country + ',' if comment.country
  = format_comment_date(comment.created_at)
.comment= comment.body_html.untaint
