<% posts.each do |post| -%>
  <div class="post post-<%= post.id %>">
    <div id="singlePostSummary">
      <h2><%= h(post.title) %></h2> 
      <div class="author"><%= h(post.author) %>, <%= format_post_date(post.published_at) %>
      <% if post.approved_comments.size > 0 %>
        (<%= link_to(pluralize(post.approved_comments.size, "comment"), post_path(post, :anchor => 'comments')) %>)
      <% end -%>
      </div>
      <div class="summary"><%= h(post.summary.untaint) %></div>
      <%= link_to image_tag('more.gif', {:class => 'more'}), post_path(post) %>
    
    <!--
      <div class="meta">
          <% unless post.tags.empty? -%>
          <div class="tags">Tagged <%= linked_tag_list(post.tags) %></div>
          <% end -%>
      </div>
    -->
    
    </div>
	</div>
<% end -%>  

