= content_for(:page_title) do 
  = config[:title]
= content_for(:head) do 
  = auto_discovery_link_tag(:atom, rss_path(:tag => @tag, :format => 'atom'))

#feature
  #featureLeft
    = frontpage_tabs(@section)
  #featureRight
    #frontpage_posts_wrapper
      #frontpage_posts
        .scroller
          #scrollcontent
            = render :partial => "posts", :locals => {:posts => @posts}

#arrows= frontpage_navigation
