<% content_for(:page_title) do %><%=h posts_title(@tag) %><% end -%>
<% content_for(:head)       do %><%= auto_discovery_link_tag(:atom, rss_path(:tag => @tag, :format => 'atom')) %><% end -%>

<div id="feature">

  <div id="featureLeft">
    <%= frontpage_tabs(@section) %>
  </div>
  
  <div id="featureRight">
    <div id="frontpage_posts_wrapper">
      <div id="frontpage_posts">
        <div class="scroller">
        <div id="scrollcontent">
          <%= render :partial => "posts", :locals => {:posts => @posts} %>
        </div>
        </div>
      </div>
    </div> 
  </div>

</div>

<div id="arrows">
  <%= frontpage_navigation(@page,@section) %>
</div>

