<tr class="<%= cycle('', 'alt') %>">
  <td><%= upload.created_at.strftime('%d %b, %Y') %></td>
  <td><%= upload_thumbnail(upload) %>
  <td><%= link_to(h(upload.file.original_filename), upload.file.url) %></td>
  <td><%= link_to(h(upload.description), admin_upload_path(upload)) %></td>
  <td><%=h upload.file.content_type %></td>
  <td><%=h number_to_human_size(upload.file.size) %></td>
  <td>  
    <%= link_to(image_tag('silk/pencil.png', :alt => 'edit'), admin_upload_path(upload)) %>
    <% form_for(:upload, upload, :url => admin_upload_path(upload), :html => {:class => 'delete-item', :method => :delete}) do |form| %>
      <%= image_submit_tag("silk/delete.png") %>
    <% end %>
  </td>
</tr>
