#commentlist
  - @post.approved_comments.each do |comment|
    %div{:class => ('comment ' + cycle('alt','')), :id => "comment-#{comment.id.to_s}"}
      = render :partial => 'comments/comment', :locals => {:comment => comment}

= content_tag(:br) if @post.approved_comments.size > 0

.author.large_link(style="margin:0;")= link_to_function 'HAVE A SAY', "Effect.toggle('new_comment','blind', {duration: 0.5})"

#new_comment(style="display:none;")
  - unless @comment.errors.empty?
    .errors
      %h3 Comment not added!
      %ul
        - @comment.errors.sort_by(&:first).each do |error|
          %li= format_comment_error(error)
  
  - form_for([@post, @comment]) do |form|
    %p 
      = form.text_field 'author'
      %label(for="comment_author")
        %small.author Name or #{link_to "OpenID", "http://openidexplained.com/"} (required)
    %p 
      = form.text_area 'body'
      %br
      %small.author #{link_to "Markdown enabled", "http://daringfireball.net/projects/markdown/syntax"}
    = image_submit_tag 'send_dark.gif'
