.post_title= h(post.title)
.author
  #{h(post.author)}, #{format_post_date(post.published_at)} #{number_comments(post)}
.postbody= post.body_html.untaint

.meta
  - unless post.tags.empty?
    .tags Tagged #{linked_tag_list(post.tags)}
