<!--
<% content_for(:head) do -%>
  <%= javascript_include_tag 'common' %>
  <%= javascript_include_tag 'live-comment-preview' %>
<% end -%>
-->

<% content_for(:page_title) do -%>
  <%=h post_title(@post) -%>
<% end -%>

<div id="fullPost">
  <%= render :partial => 'post', :locals => {:post => @post} %>
</div>

<div id="arrows">
  <%= single_post_navigation(@post) %>
</div>

<!--
<%= render :partial => "comments" %>
-->
