<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC
    "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN"
    "http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg-flat.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
  <title><%= yield(:page_title) || h(config[:title]) %></title>
  <%= stylesheet_link_tag 'wtw' %>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'lightbox' %>
  <%= javascript_include_tag 'builder' %>
  <%= javascript_include_tag 'lightbox' %>
  <%= open_id_delegation_link_tags(h(config[:open_id_delegation, :server]), h(config[:open_id_delegation, :delegate])) if config[:open_id_delegation] %>
  <%= yield(:head) %>
</head>

<%= render :partial => "layouts/header" %>

<div id="bodyInner">

  <div id="wrapper">
  
    <%= link_to content_tag(:div, nil, :id => "header"), root_path %>
    
    <div id="content">
    
    <%= yield %>
    
    </div>
    
    <%= render :partial => "layouts/footer" %>
  
  </div>

</div>

</body>

</html>
