!!! XML
!!! 
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en")
  %head
    %meta(http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8")
    %title= yield(:page_title) || config[:title]
    = javascript_include_tag :defaults, :cache => true
    = stylesheet_link_tag 'wtw', :cache => true
    = stylesheet_link_tag 'lightbox', :cache => true
    = javascript_include_tag 'builder', :cache => true
    = javascript_include_tag 'lightbox', :cache => true
    = open_id_delegation_link_tags(h(config[:open_id_delegation, :server]), h(config[:open_id_delegation, :delegate])) if config[:open_id_delegation]
    = auto_discovery_link_tag(:atom, rss_path(:format => "atom"), {:title => "Win the World"})
    = yield(:head)

  %body
    = render :partial => "layouts/header"
    #bodyInner
      #wrapper    
        = link_to content_tag(:div, nil, :id => "header"), root_path
        #content      
          = yield                
        = render :partial => "layouts/footer"
